{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Activity Search</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <script src="static/js/main.js"></script>
</head>
<body>
    <h1>Descubrí tu actividad en GitHub</h1>
    <form action="/search" method="get">
        <label for="user">GitHub Username:</label>
        <input type="text" id="user" name="user" required>
        <button type="submit" onclick="">Buscar</button>
    </form>
</body>
</html>
{{ end }}
