/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000; /* Borde negro */
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff; /* Texto blanco */
    background-color: #000000; /* Fondo negro */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333333; /* Fondo negro oscuro en hover */
}
